html{
    width:100vw;
}

body{
    background: rgb(242, 233, 196);
    background-attachment: fixed;
    margin: 0 max(10vw, calc(50vw - 500px));
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}

#myhead{
    color: black;
    padding: 0% 2% 2% 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#mainHead{
    color: black;
    padding: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.baskerville{
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serifbaskerville, Georgia, 'Times New Roman', Times, serif;
}

.extra-padding{
    padding: 0 0 1vh 0;
}

.transparentCard{
    background: rgba(255, 255, 255, 0.75);
}

.backButton{
    padding: 0.5% 1.5%;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 1vw 0  0 2vw;
}

iframe{
    display: block;
    margin: 2vh 2vw;
    width: min(76vw, 1000px - 4vw);
    height: calc(min(76vw, 1000px - 4vw) * 9 / 16);
}

.p-project{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Lato, sans-serif;
    margin: 0 2vw;
    line-height: 1.6;
}

li > .p-project{
    margin: 0 0.25vw;
}

ul {
    margin: 0 2vw;
}

.subtitle-project{
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: bold;
    font-family: Lato, sans-serif;
    margin: 0.5vw 2vw;
    line-height: 1.6;
}

.p-pills{
    color: rgb(128, 128, 128);
    font-size: 12px;
    font-family: Lato, sans-serif;
    margin: 2vw 0;
    line-height: 1.6;
    font-style: italic;
}

.bgRect{
    background-color: rgba(128,128,128,0.66);
    width: min(80vw, calc(1000px));
    height: 100%;
    display: inline-block;
    min-height:100vh;
}

